---
layout: default
---
<div class="indexheader teal lighten-5 z-depth-3"><h1>No Stone Unturned SRD</h1></div>
  {% for post in site.posts %}
					<!--div class="postcard blue lighten-5 z-depth-3"-->
						<div class="card horizontal small hoverable z-depth-1 clickable">
							<div class="card-image">
								<img src="{{ post.image }}">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<span class="card-title">{{ post.title }}</span>
									<span class="postexcerpt hide-on-small-only">{{ post.excerpt | strip_html }}</span>
									<span class="postexcerpt show-on-small">{{ post.summary | strip_html }}</span>
								</div>
								<div class="card-action">
									<a href="{{ site.baseurl }}{{ post.url }}">read post</a>
								{% for tag in post.tags %}
									{% capture tag_name %}{{ tag }}{% endcapture %}
									<a href="/tag/{{ tag_name }}">#{{ tag_name }}</a>
								{% endfor %}									
								</div>
							</div>
						</div>
					<!--/div-->

  {% endfor %}