---
layout: default
---
<!---div class="parallax-container">
	<div class="parallax"><img class="postimage responsive-img" src="{{ page.image }}"></div>
</div-->
<div class="section post red lighten-5">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<div class="entry">
			{{ content }}
		</div>
  
  <div class="footnotes">
    {% for footnote in page.footnotes %}
    {% capture footnotetext %}{{ footnote }}{% endcapture %}
	<div id="footnote {{forloop.index }}"><span><sup>{{ forloop.index }}</sup>{{ footnotetext }}</span></div>
  {% endfor %}
  </div>
</div>
</div>
  